.Footer
  .Footer__inner
    .Footer__inner__logo
      %h1.Message RehaNutについて
      %h1.Message 1ヶ月無料キャンペーン
    %ul.Footer__inner__category
      %li ホーム
      %li 利用規約
      %li FAQ
      %li お問い合わせ
      %li アクセス
 
  .Footer__nav
    %ul.Footer__nav__information
      %li.Footer__nav__information--list 運営会社
      %li.Footer__nav__information--list 個人情報保護方針
      %li.Footer__nav__information--list Copyright © 2020 RehaNut Inc. All rights reserved.
