.Header
  .Header__info
    .Header__info__title 
      %h1.main-title RehaNut
    .Header__info__navbar
      %ul.nav-lists 
        %li RehaNutについて
        %li メニュー
        %li ログイン
        %li アクセス

  .Header__top
    .Header__top__first-view
      = image_tag "juan-pablo-rodriguez-X6jtULYJQz8-unsplash.jpg", alt: "トップ画面", class:"top-image"
     
