.Base
  = render "header";

  .Content
    %h1 本日のトレーニングメニュー
    -# = image_tag @contents.image, class: "training"
    %h1 達成状況（CheckBox)
    %h1 本日のトレーニングに対するコメント
    = render @comments
  
  -# .Comment
  -#   = form_with model: [@contents, @comment], html: {class: "Form"}, local: true do |f|
  -#     .Form__contents
  -#       = f.text_field :comment, class: 'Form__contents__text', placeholder: 'type a message'
  -#       = f.label :image, class: 'Form__contents__image' do
  -#         = icon('far', 'image')
  -#         = f.file_field :image, class: 'Form__contents__image__file'
  -#     = f.submit 'Send', class: 'submit-btn'

  -# .Catalog
  -#   %h4 コメント一覧
  -#   - if @comments
  -#     - @comments.each do |comment|
  -#       %p
  -#         = link_to comment.user.name, "/users/#{comment.user_id}"
  -#         = comment.comment

    
= render "footer";