//1番上に記載すると@media以外の所は全てのサイズで読み込まれる


@media (min-width: 480px) {
  //画面サイズが480pxからはここを読み込む
  .Base {
    width: 100%;
  }
}

@media (min-width: 768px) {
  //画面サイズが768pxから1024pxまではここを読み込む
  .Base {
    
  }
}

@media (min-width: 1024px) {
  //画面サイズが1024pxからはここを読み込む
  .Base {
    width: 70vw;
    margin: 0 auto;
  }
}
