.Footer {
  height: 300px;
  color: white;
  &__inner {
    height: 200px;
    background-color: #212121;
    &__logo {
      display: flex;
      justify-content: space-around;
      margin-bottom: 50px;
      padding-top: 50px;;
    }
    &__category {
      display: flex;
      justify-content: space-around;
      margin-bottom: 50px;
    }
  }

  &__nav {
    height: 100px;
    background-color: black;
    &__information {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 12px;
      padding-top: 50px;
      &--list {
        margin-right: 20px;
      }
    }
  }
}