.Header {
  height: 50px;
  background-color: #f0f0f0;
  padding: 10px 0;

  &__info {
    margin-left: 30px;
    display: flex;
    color: black;
    &__title {
      width: 50%;
    }
    &__navbar {
      width: 50%;
    }
      ul {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
      }
  }
  &__top {
    background-color:white;
    height: 10px;
    width: 100vh;
    &__first-view {
      height: 60vh;
      &__top-image {
        height: 60px;
        width: 50%;
      }
    }
  }
}
