.Main {
  height: calc(100% - 270px);
  background-color: white;
  &__top {
    background-color: white;
    &__first-view {
      position: relative;
      &__text {
        position: absolute;
        color: white;
        font-size: 3rem;
        font-weight: bold;
        top: 50px;
        left: 50px;
      }
    }
    .top-image {
      height: 50vh;
    }
  }
  &__feature {
    color: black;
    display: flex;
    &__reha {
      margin-right: 20px;
      &__message {
        font-size: 32px;
        font-weight: bold;
      }
    }
    &__nut {
      &__message {
        font-size: 32px;
        font-weight: bold;
      }
    }
  }
    img {
      height: 40vh;
      width: 40vh;
    }
}